name: Deploy helix relayer config

on:
  push:
    branches: [main]
  workflow_dispatch:

env:
  HELIXBRIDGE_CLI_VERSION: sha-6635d86

jobs:
  deploy:
    name: Register and generate configure
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Regitser
        run: |
          docker run -i --rm \
          --name helixbridge \
          -v $PWD:/relayer \
          -e FORCE_COLOR=1 \
          -e SIGNER=${{ secrets.SIGNER }} \
          -e ANKR_KEY=${{ secrets.ANKR_KEY }} \
          ghcr.io/helix-bridge/helixbridge-cli:${HELIXBRIDGE_CLI_VERSION} \
            register --verbose --accept --write-lock --datadir=/relayer --group=itering

      - name: Generate configure
        run: |
          docker run -i --rm \
          --name helixbridge \
          -v $PWD:/relayer \
          -e FORCE_COLOR=1 \
          -e SIGNER=${{ secrets.SIGNER }} \
          ghcr.io/helix-bridge/helixbridge-cli:${HELIXBRIDGE_CLI_VERSION} \
            generate-configure --verbose --datadir=/relayer --group=itering

      - name: Commit files
        run: |
          MSG="Register and generate configure"
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add .
          git commit -m "${MSG:-Auto update}" || true

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
